body {
    background-color: #d4e4f2;
    font-size: 20px;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


form {
    width: 600px;
    margin: 0 auto;
    text-align: left;
    padding: 5px;
    border: 3px solid #bad1e6;
    border-radius: 20px;
    background-color: #bad1e6;    
  }
  
  label {
    display: block;
    margin-bottom: 5px;
    font-size: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  
input, textarea {
  width: 100%;
  padding: 5px 10px;
  margin-bottom: 2px;
  border: 1px solid #d4e4f2;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 14px;
}

button {
  background: #d4e4f2;
  border-radius: 5px;
  border: none;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #000;
  font-size: 13px;
  padding: 8px;
  text-decoration: none;
}
